extends base/_layout
block head
    title Swipe Swap - Not Found
block mainClass
    - var mainClass = 'main--404'
block page
    img(src="/images/404.png")
    h3 Oops... Looks like you've got lost
    a(href="/" class="btn btn-gradient") Get back home

