script(src="https://unpkg.com/web3@1.3.1/dist/web3.min.js")
script(src="https://unpkg.com/web3modal@1.9.3/dist/index.js")
script(src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js")
script(src="https://unpkg.com/@walletconnect/web3-provider@1.3.1/dist/umd/index.min.js")
//- script(src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js")